<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Wypozyczalnia.Properties.Settings.Test2ConnectionString"
            connectionString="Data Source=FELIX-KOMPUTER\SQLEXPRESS;Initial Catalog=Wypozyczalnia;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="server" value="FELIX-KOMPUTER\SQLEXPRESS" />
    <add key="database" value="Wypozyczalnia" />
  </appSettings>
</configuration>